<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <%= render "layouts/errors" %>

        <%# フォーム %>
        <%= form_with model: @article, local: true do |f| %>
          <fieldset>
            <fieldset class="form-group">
              <%= f.text_field :title, class: "form-control form-control-lg" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_field :description, class: "form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_area :body, class: "form-control", rows: "8" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_field :tags, class: "form-control" %>
              <div class="tag-list">
                <span class="tag-default tag-pill"> <i class="ion-close-round"></i> tag </span>
              </div>
            </fieldset>
            <%= f.button "Publish Article", type: :submit, class: "btn btn-lg pull-xs-right btn-primary" %>
          </fieldset>
        <% end %>

      </div>
    </div>
  </div>
</div>
